.container{
    height: 795px;
    width: 705px;
    margin: auto;
   
}

.encabezado{
    height: 151px;
    width: 705px;
    border-radius: 15px 15px 0px 0px ;
    background-color: gray;

}


 .menu {
   text-align: center;
     height: 60px;
     width: 705px;
     border-radius: 0px 0px 15px 15px;
     background-color:  rgb(26, 122, 77);
     top: -20px;


}


ul{
    text-align: center;

}

li{
position: relative;
top: 15px;
font-size: 18px;
font-family: Black;
list-style: none;
float: right;
display: inline;
margin: 5px;
}

.titulo_P{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    padding-left: 10px;
    padding-top: 10px;
}

.subT{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    padding-left: 25px;

}

.logo{
    position: relative;
    float: right ;
    padding: 18px;
    top: -120px;


}

.arriba{
    height: 195px;
    width: 370px;
    border-radius: 15px 15px 0px 0px;
    background-color: rgb(234, 247, 64);
    position: relative;
    top: 55px;
}

.titulo_arriba{
    color: black;
    font-family: sans-serif;
    font-size: 15px;
    padding-left: 10px;

}

.logo_arriba{
    position: relative;
    float: right;
    border-radius: 10px 10px 10px 10px ;
    padding-right: 5px;
    top:40px;
}

.texto_arriba{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding-left: 5px;
}

.abajo{
    height: 200px;
    width: 370px;
    border-radius: 0px 0px 15px 15px;
    background-color: rgb(234, 247, 64);
    position: relative;
    top: 65px;

}

.titulo_abajo{
    color: black;
    font-family: sans-serif;
    font-size: 18px;
    padding-left: 10px;
}

.logo_abajo{
    position: relative;
    float: right;
    border-radius: 10px 10px 10px 10px ;
    padding-right: 5px;
    top:40px;
}

.texto_abajo{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding-left: 5px;
}

.derecha{
    height: 420px;
    width: 287px;
    border-radius: 15px 15px 15px 15px;
    float: right ;
    position: relative;
    top: -355px;
    background-color: rgb(26, 122, 77);
    display: block;


}

.titulo{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: -20px;
    padding-left: 45px;

}

.panel{
    color: blanchedalmond;
    padding-left: 100px;
    display: block


}

.paneld{
    padding-left: -20px;
    padding-right: -20px;
    display: block;
    margin: auto;
}

.botonP{
    height: 30px;
    width: 120px;
    border-radius: 10px 10px 10px 10px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    top: 20px;
    margin: 30px 30px 65px 65px ;
}

.encabezado_r{
    height: 40px;
    width: 287px;
    border-radius: 15px 15px 0px 0px;
    float: right;
    position: relative;
    background-color: black;
}


   .pie{
    height: 101px;
    width: 705px;
    background-color: black;
    border-radius: 0px 0px 15px 15px;
    position: relative;
    clear: both;
    top: -339px


   }

   .informacion{
       position: relative;
       padding-top: 10px;
       padding-left: 347px;
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       font-size: 12px;
       color: white

   }

   .linea{
      position: relative;
      padding-top: -25px;
      padding-left: 289px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 12px;
      color: white
   }

   .correo{
       position: relative;
       padding-top: -25px;
       padding-left: 245px;
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       font-size: 12px;
       color: white
   }
